.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: #007bff 1px solid;
  border-radius: 8px;
}

.header__logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.header__nav {
  flex-grow: 1;
}

.header__nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  margin: 0;
  padding: 0;
}

.header__nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.header__nav-link:hover {
  color: #007bff;
}

.header__nav-link--active {
  color: #007bff;
  font-weight: bold;
}

.header__auth {
  display: flex;
}

.header__auth-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header__auth-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.header__nav-item.active .header__nav-link {
  color: #007bff;
  /* font-weight: bold; */
}